{% extends "@NailitGallery/layout.html.twig" %}

{% block title "Krzyś " %}

{% block page_title  %}
    {{ page_title }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content_header '' %}

{% block content %}

    <h1>/* {{ main_slogan }} */</h1>

    {% include '@NailitGallery/Default/calendar-menu.html.twig' %}

    {% include '@NailitGallery/Default/navigation.html.twig' %}

    {% include '@NailitGallery/Default/index-basic.html.twig' %}

    {% include '@NailitGallery/Default/navigation.html.twig' %}

    {% include '@NailitGallery/Default/calendar-menu.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}