{% extends "@KrzysPage/layout.html.twig" %}

{% block title "Krzyś " %}

{% block content_header '' %}

{% block content %}
{#<h1>/* {{ main_slogan }} */</h1>#}

{% include '@KrzysPage/Default/calendar-menu.html.twig' %}

{% include '@KrzysPage/Default/navigation.html.twig' %}

{% include '@KrzysPage/Default/index-basic.html.twig' %}

{% include '@KrzysPage/Default/navigation.html.twig' %}

{% include '@KrzysPage/Default/calendar-menu.html.twig' %}

{% endblock %}